<% if (eixo) { %>
  <h1><%= eixo.nome %></h1>
  <p><%= eixo.descricao %></p>
<% } %>

<% if (time) { %>
  <h1><%= time.nome %></h1>
  <p><%= time.descricao %></p>
<% } %>

<a href="/estrutura">Voltar</a>