<nav class="menu">
  <ul>
    <li><a href="/">Início</a></li>

    <li class="dropdown">
      <a href="#">Quem Somos</a>

      <ul class="submenu">
        <li><a href="/sobre">Sobre o Raitec</a></li>
        <li><a href="/estrutura">Estrutura</a></li>
        <li><a href="/membros">Membros</a></li>
      </ul>
    </li>

    <li><a href="/projetos">Projetos</a></li>
    <li><a href="/eventos">Eventos</a></li>
    <li><a href="/extensao">Extensão</a></li>
    <li><a href="/raipedia">Raipedia</a></li>
    <li><a href="/processo-seletivo">Processo Seletivo</a></li>
    <li><a href="/noticias">Notícias</a></li>
    <li><a href="/contato">Contato</a></li>

  </ul>
</nav>